<a href="https://colab.research.google.com/github/Elian19-01/Massive-data/blob/main/Unit3Exam_Vega_Elian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Mining - Apriori Algorithm
## Professor: Alberto LÃ³pez Cardoza
### Alumno: 6-A
#### Suggested Grade: 10

What is Association Rule Learning?
--

Association Rule Learning is rule-based learning for identifying the association between different variables in a database. **`One of the best and most popular examples of Association Rule Learning is the Market Basket Analysis`**. The problem analyses the association between various items that has the highest probability of being bought together by a customer.

For example, the association rule, {onions, chicken masala} => {chicken} says that a person who has got both onions and chicken masala in his or her basket has a high probability of buying chicken also.


Apriori Algorithm
--

The algorithm was first proposed in 1994 by Rakesh Agrawal and Ramakrishnan Srikant. Apriori algorithm finds the most frequent itemsets or elements in a transaction database and identifies association rules between the items just like the above-mentioned example.


How Apriori works ?
--

To construct association rules between elements or items, the algorithm considers 3 important factors which are, support, confidence and lift. Each of these factors is explained as follows:

**Support:**

The support of item I is defined as the ratio between the number of transactions containing the item I by the total number of transactions expressed as :

<img src="https://miro.medium.com/max/403/0*pyOADkeaWyrVP2ft.png" />

<font color='darkgreen'><b>Support</b></font> indicates how popular an itemset is, as measured by the proportion of transactions in which an itemset appears. In Table 1 below, the support of {apple} is 4 out of 8, or 50%. Itemsets can also contain multiple items. For instance, the support of {apple, beer, rice} is 2 out of 8, or 25%.

<img src='https://annalyzin.files.wordpress.com/2016/04/association-rule-support-table.png?w=503&h=447' />

<br />

<font color='red'><em>If you discover that sales of items beyond a certain proportion tend to have a significant impact on your profits, you might consider using that proportion as your support threshold. You may then identify itemsets with support values above this threshold as significant itemsets.</em></font>


**Confidence:**

This is measured by the proportion of transactions with item I1, in which item I2 also appears. The confidence between two items I1 and I2,  in a transaction is defined as the total number of transactions containing both items I1 and I2 divided by the total number of transactions containing I1. ( Assume I1 as X , I2 as Y )

<img src='https://miro.medium.com/max/576/1*50GI4dR58MnhwBP9dw6nFQ.png' />

<font color='darkgreen'><b>Confidence</b></font> says how likely item Y is purchased when item X is purchased, expressed as {X -> Y}. This is measured by the proportion of transactions with item X, in which item Y also appears. In Table 1, the confidence of {apple -> beer} is 3 out of 4, or 75%.

<img src='https://annalyzin.files.wordpress.com/2016/03/association-rule-confidence-eqn.png?w=527&h=77' />

<font color='red'><em>One drawback of the confidence measure is that it might misrepresent the importance of an association. This is because it only accounts for how popular apples are, but not beers. If beers are also very popular in general, there will be a higher chance that a transaction containing apples will also contain beers, thus inflating the confidence measure. To account for the base popularity of both constituent items, we use a third measure called lift. </em></font>


**Lift:**

Lift is the ratio between the confidence and support.

<font color='darkgreen'><b>Lift</b></font> says how likely item Y is purchased when item X is purchased, while controlling for how popular item Y is. In Table 1, the lift of {apple -> beer} is 1,which implies no association between items. A lift value greater than 1 means that item Y is likely to be bought if item X is bought, while a value less than 1 means that item Y is unlikely to be bought if item X is bought. ( *here X represents apple and Y represents beer* )

<img src='https://annalyzin.files.wordpress.com/2016/03/association-rule-lift-eqn.png?w=566&h=80' />

<hr>

for **Extra Reading** : refer <a href='https://towardsdatascience.com/association-rules-2-aa9a77241654'> this </a>

In [ ]:
#External package need to install
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5973 sha256=a4a3e39748e33bc17d95f9bea731db2fde7c0906643dfae282d0828a3265c4e2
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

Import libaries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
from apyori import apriori

These are some example datasets I am providing for you.

In [ ]:
# ItemsetA
itemsetA = [['arroz','frijol','tortillas','coca','chile'],['frijol','chile','charritoss','tortillas'],['tortillas','coca','frijol','chile'],['coca','tortillas','chile'],['coca','tortillas']]
minSupA = .002
minConfA = .6
minLenA = 2

itemsetB= [['leche','jamon','huevos','arroz','queso','yogurt'],['arroz','huevos','jamon','queso','salsa','sandia','cebolla'],['queso','huevos','yogurt','salsa','arroz','naranja'],['jamon','queso','cebolla','tomates','sandia','huevos'],['queso','jamon','salsa','arroz','limon','cebolla'],['tomates','yogurt','arroz','salsa','tomates','queso'],['yogurt','huevos','jamon','tomates','naranja','arroz','sandia'],['cocacola','jamon','yogurt','salsa','sandia']]
minSupB = .25
minConfB = .5
minLenB = 2

itemsetC = [['leche','jamon','huevos','arroz','queso','yogurt','coke','tortillas'],['arroz','huevos','jamon','queso','coke','salsa','sandia','cebolla'],['queso','huevos','yogurt','salsa','leche','tortillas','arroz','cocacola','naranja'],['jamon','queso','cebolla','tomates','tortillas','sandia','huevos'],['queso','jamon','salsa','arroz','limon','cebolla','cocacola','leche'],['tomates','yogurt','arroz','salsa','cocacola','tomates','queso'],['yogurt','huevos','jamon','tomates','naranja','tortillas','arroz','sandia'],['cocacola','jamon','leche','tortillas','yogurt','salsa','sandia']]
minSupC = .15
minConfC = .4
minLenC = 2

itemsetD = [['leche','jamon','huevos','arroz','queso','yogurt','coke','tortillas'],['arroz','huevos','jamon','queso','coke','salsa','sandia','cebolla'],['queso','huevos','yogurt','salsa','leche','tortillas','arroz','cocacola','naranja'],['jamon','queso','cebolla','tomates','tortillas','sandia','huevos'],['queso','jamon','salsa','arroz','limon','cebolla','cocacola','leche'],['tomates','yogurt','arroz','salsa','cocacola','tomates','queso'],['yogurt','huevos','jamon','tomates','naranja','tortillas','arroz','sandia'],['cocacola','jamon','leche','tortillas','yogurt','salsa','sandia'],['tortillas','salsa','arroz','limon','yogurt','coca'],['queso','jamon','salsa','arroz','limon','cebolla','cocacola','leche','toronja']]
minSupD = .1
minConfD = .45
minLenD = 2

Print first element of each itemSet

In [ ]:
# Print itemsets
#A
print(itemsetA[0])

#B
print(itemsetB[0])

#C
print(itemsetC[0])

#D
print(itemsetD[0])

['arroz', 'frijol', 'tortillas', 'coca', 'chile']
['leche', 'jamon', 'huevos', 'arroz', 'queso', 'yogurt']
['leche', 'jamon', 'huevos', 'arroz', 'queso', 'yogurt', 'coke', 'tortillas']
['leche', 'jamon', 'huevos', 'arroz', 'queso', 'yogurt', 'coke', 'tortillas']

Run apriori and set to `rules`
Hare show me what you know about APRIORI and the parameters. 


*   Support
*   Confidance
*   Lift
*   Min Lenght

In [ ]:
rulesA = apriori(itemsetA, min_support=minSupA,min_confidance=minConfA, min_lenght=minLenA)

Convert rules to a list and name it `result`. Print` result` for each itemset

In [ ]:
resultA = list(rulesA)

Print first 10 rows

In [ ]:
# Print 10 first rows
print(resultA[0:9])

[RelationRecord(items=frozenset({'arroz'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'arroz'}), confidence=0.2, lift=1.0)]), RelationRecord(items=frozenset({'charritoss'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'charritoss'}), confidence=0.2, lift=1.0)]), RelationRecord(items=frozenset({'chile'}), support=0.8, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile'}), confidence=0.8, lift=1.0)]), RelationRecord(items=frozenset({'coca'}), support=0.8, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'coca'}), confidence=0.8, lift=1.0)]), RelationRecord(items=frozenset({'frijol'}), support=0.6, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol'}), confidence=0.6, lift=1.0)]), RelationRecord(items=frozenset({'tortillas'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'tortillas'}), confidence=1.0, lift=1.0)]), RelationRecord(items=frozenset({'chile', 'arroz'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'arroz'}), confidence=0.2, lift=1.0), OrderedStatistic(items_base=frozenset({'arroz'}), items_add=frozenset({'chile'}), confidence=1.0, lift=1.25), OrderedStatistic(items_base=frozenset({'chile'}), items_add=frozenset({'arroz'}), confidence=0.25, lift=1.25)]), RelationRecord(items=frozenset({'arroz', 'coca'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'arroz', 'coca'}), confidence=0.2, lift=1.0), OrderedStatistic(items_base=frozenset({'arroz'}), items_add=frozenset({'coca'}), confidence=1.0, lift=1.25), OrderedStatistic(items_base=frozenset({'coca'}), items_add=frozenset({'arroz'}), confidence=0.25, lift=1.25)]), RelationRecord(items=frozenset({'frijol', 'arroz'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol', 'arroz'}), confidence=0.2, lift=1.0), OrderedStatistic(items_base=frozenset({'arroz'}), items_add=frozenset({'frijol'}), confidence=1.0, lift=1.6666666666666667), OrderedStatistic(items_base=frozenset({'frijol'}), items_add=frozenset({'arroz'}), confidence=0.33333333333333337, lift=1.6666666666666667)])]

Convert rules for each itemset to a list and then to a DataFrame

In [ ]:

df_results = pd.DataFrame(resultA)
# print 5 fist rows
df_results.head(5)

          items  support              ordered_statistics
0       (arroz)      0.2       [((), (arroz), 0.2, 1.0)]
1  (charritoss)      0.2  [((), (charritoss), 0.2, 1.0)]
2       (chile)      0.8       [((), (chile), 0.8, 1.0)]
3        (coca)      0.8        [((), (coca), 0.8, 1.0)]
4      (frijol)      0.6      [((), (frijol), 0.6, 1.0)]

Here extract `support`.

In [ ]:
support = df_results.support

Get the other values. Use the first link I gave you.
Copy the code from there

In [ ]:
#all four empty list which will contain lhs, rhs, confidance and lift respectively.
a = []
b = []
c = []
d = []
# loop number of rows time and append 1 by 1 value in a separate list.. 
# first and second element was frozenset which need to be converted in list..
for i in range(df_results.shape[0]):
    x = df_results['ordered_statistics'][i][0]
    a.append(list(x[0]))
    b.append(list(x[1]))
    c.append((x[2]))
    d.append((x[3]))

OrderedStatistic(items_base=frozenset(), items_add=frozenset({'arroz'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'charritoss'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile'}), confidence=0.8, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'coca'}), confidence=0.8, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol'}), confidence=0.6, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'tortillas'}), confidence=1.0, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'arroz'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'arroz', 'coca'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol', 'arroz'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'arroz', 'tortillas'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'charritoss'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol', 'charritoss'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'tortillas', 'charritoss'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'coca'}), confidence=0.6, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'frijol'}), confidence=0.6, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'tortillas'}), confidence=0.8, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol', 'coca'}), confidence=0.4, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'tortillas', 'coca'}), confidence=0.8, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol', 'tortillas'}), confidence=0.6, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'arroz', 'coca'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'arroz', 'frijol'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'arroz', 'tortillas'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol', 'arroz', 'coca'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'arroz', 'tortillas', 'coca'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol', 'arroz', 'tortillas'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'frijol', 'charritoss'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'tortillas', 'charritoss'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol', 'tortillas', 'charritoss'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'coca', 'frijol'}), confidence=0.4, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'tortillas', 'coca'}), confidence=0.6, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'tortillas', 'frijol'}), confidence=0.6, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol', 'tortillas', 'coca'}), confidence=0.4, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'arroz', 'coca', 'frijol'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'arroz', 'tortillas', 'coca'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'arroz', 'tortillas', 'frijol'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'frijol', 'arroz', 'tortillas', 'coca'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'tortillas', 'frijol', 'charritoss'}), confidence=0.2, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'tortillas', 'coca', 'frijol'}), confidence=0.4, lift=1.0)
OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chile', 'coca', 'frijol', 'arroz', 'tortillas'}), confidence=0.2, lift=1.0)

In [ ]:
# convert all four list into dataframe for further operation..
lhs = pd.DataFrame(a)
rhs = pd.DataFrame(b)
confidance = pd.DataFrame(c ,columns=['Confidance'])
lift = pd.DataFrame(d,columns=['lift'])

In [ ]:
# concat all list together in a single dataframe
df = pd.concat([lhs,rhs,support,confidance,lift], axis=1)
df.head()

            0     1     2     3     4  support  Confidance  lift
0       arroz  None  None  None  None      0.2         0.2   1.0
1  charritoss  None  None  None  None      0.2         0.2   1.0
2       chile  None  None  None  None      0.8         0.8   1.0
3        coca  None  None  None  None      0.8         0.8   1.0
4      frijol  None  None  None  None      0.6         0.6   1.0

In [ ]:
df.fillna("",inplace=True)

,0,1,2,3,4,support,Confidance,lift
30,chile,tortillas,frijol,,,0.6,0.6,1.0
31,frijol,tortillas,coca,,,0.4,0.4,1.0
32,chile,arroz,coca,frijol,,0.2,0.2,1.0
33,chile,arroz,tortillas,coca,,0.2,0.2,1.0
34,chile,arroz,tortillas,frijol,,0.2,0.2,1.0
35,frijol,arroz,tortillas,coca,,0.2,0.2,1.0
36,chile,tortillas,frijol,charritoss,,0.2,0.2,1.0
37,chile,tortillas,coca,frijol,,0.4,0.4,1.0
38,chile,coca,frijol,arroz,tortillas,0.2,0.2,1.0

In [ ]:
'''
 we have some of place only 1 item in lhs and some place 3 or more so we need to a proper represenation for User to understand. 
 replacing none with ' ' and combining three column's in 1 
 example : coffee,none,none is converted to coffee, ,
'''

       0      0       1          2          3  support  Confidance  lift
0  arroz   coca  frijol                            0.2         1.0   2.5
1  arroz   coca  frijol      chile                 0.2         1.0   2.5
2  arroz   coca  frijol  tortillas                 0.2         1.0   2.5
3  arroz  chile    coca     frijol  tortillas      0.2         1.0   2.5

In [ ]:
#set column name
df.columns = ['lhs',1,'rhs',2,3,'support','confidance','lift']
df.head()

          lhs 1 rhs 2 3  support  confidance  lift
0       arroz                0.2         0.2   1.0
1  charritoss                0.2         0.2   1.0
2       chile                0.8         0.8   1.0
3        coca                0.8         0.8   1.0
4      frijol                0.6         0.6   1.0

In [ ]:
# add all three column to lhs itemset only
df['lhs'] = df['lhs'] + str(", ") + df[1]
df['rhs'] = df['rhs']+str(", ")+df[2] + str(", ") + df[3]

In [ ]:
# Print forst 4 rows
df.head(5)

            lhs 1   rhs 2 3  support  confidance  lift
0       arroz,     , ,           0.2         0.2   1.0
1  charritoss,     , ,           0.2         0.2   1.0
2       chile,     , ,           0.8         0.8   1.0
3        coca,     , ,           0.8         0.8   1.0
4      frijol,     , ,           0.6         0.6   1.0

In [ ]:
#drop columns 1,2 and 3 because now we already appended to lhs column.
df.drop(columns=[1,2,3],inplace=True)

In [ ]:
#this is final output. You can sort based on the support lift and confidance..
df[35:]

                 lhs                       rhs  support  confidance  lift
35     frijol, arroz         tortillas, coca,       0.2         0.2   1.0
36  chile, tortillas      frijol, charritoss,       0.2         0.2   1.0
37  chile, tortillas            coca, frijol,       0.4         0.4   1.0
38       chile, coca  frijol, arroz, tortillas      0.2         0.2   1.0

In [ ]:
## Showing top 10 items, based on lift.  Sorting in desc order
df.sort_values('lift', ascending=False).head(10)

                  lhs             rhs  support  confidance  lift
0             arroz,             , ,       0.2         0.2   1.0
29   chile, tortillas        coca, ,       0.6         0.6   1.0
22      frijol, arroz        coca, ,       0.2         0.2   1.0
23   arroz, tortillas        coca, ,       0.2         0.2   1.0
24      frijol, arroz   tortillas, ,       0.2         0.2   1.0
25      chile, frijol  charritoss, ,       0.2         0.2   1.0
26   chile, tortillas  charritoss, ,       0.2         0.2   1.0
27  frijol, tortillas  charritoss, ,       0.2         0.2   1.0
28        chile, coca      frijol, ,       0.4         0.4   1.0
30   chile, tortillas      frijol, ,       0.6         0.6   1.0